tensorflow
pandas 
numpy 
scikit-learn
tensorboard
matplotlib
streamlit
scikeras
ipykernel
langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-ollama
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
langchain_community
langchain_groq
langchain_core
fastapi
uvicorn
langserve
ipywidgets
duckduckgo-search